@font-face {
    font-family: Google;
    src: url(../fonts/ProductSans-Regular.ttf);
  }

*{
    font-family: Google;
}

body{
    padding-bottom: 100px;
}

body::-webkit-scrollbar {
    width: 10px;           
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(226, 226, 226);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);  
    border-radius: 7px;       
  }

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.logo-maoli svg {
    width: 125px;
}

.frase {
    padding: 15px;
}

.frase h1 {
    font-size: 1.6em;
}

.pregunta {
    line-height: 1.4;
    font-size: 1.4em;
    display: block;
    margin-bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid #00000026;
}

.tittle {
    display: table;
    padding: 2px 10px;
    font-size: 1.2em;
    background-color: #FFB5CE;
    margin-left: -10px;
    margin-bottom: 5px;
}

.boxes {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);    
}

.box {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 5px #0000002b;
    line-height: 1.3;
    border-radius: 4px;
    transition-duration: 0.5s;

}

.box:hover {
    box-shadow: 0px 4px 10px #00000080;
    transform: scale(1.15);
    transition-duration: 0.5s;
    z-index: 2;

}

.complemento {
    margin-top: 30px;
    padding: 20px;
    line-height: 1.4;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.pregunta b {
    background-color: #772ED0;
    padding: 2px 7px;
    color: white;
}

.icons img {
    width: 42px !important;
    margin: 0 10px;
}

.icons {
    padding-top: 20px;
}

.colText {
    font-size: 1.15em;
}

@media (max-width: 768px){
    body{
    padding-bottom: 100px;
    }

    .logo-maoli {
        margin-left: 0px;
    }

    .boxes {
        grid-template-columns: repeat(2, 1fr);  
    }

    .header {
        display: block;
        text-align: center;
    }

    .colText {
        text-align: center;
        padding-right: 0px;
        border-right: 0px;
        padding-bottom: 15px;
    }

    .icons {
        padding-left: 0px;
    }

    .frase h1 {
        font-size: 1.3em;
    }

    .logo-maoli svg {
        width: 130px;
    }

    .pregunta {
        font-size: 1.2em;
        text-align: center;
    }
    
}